.test{
    background-color: red;
}
.width{
    width: 10%;
}
.margin{
   padding: 20px;
}
.flex{
    display: flex;
}
.justify{
    padding-left: 150px;
}

.lol{
    height: 150px;
}
.align{
    align-items: center;
}
.background{
    background-color: black;
}
.color{
    color: white;
}
.size{
    font-size: 40px;
}