* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.test {
    background-color: rgb(0, 0, 0);
}

.flex {
    display: flex;
}

.content {
    justify-content: space-evenly;
}

.gap {
    gap: 10px;
}

.style {
    list-style: none;
    text-decoration: none;
}

.margin {
    margin-right: 20px;
}

.justify{
    align-items: center;
}
.none a{
    text-decoration: none;
}
.align{
    justify-content: center ;
}

.text{
    font-size: 20px;
}
.row{
    flex-direction: row;
}
.gap2{
    gap: 20px;
}
.maio{
    height: 150px;
}
.blue{
    background-color: blue;
}
.grandezza{
    width: 50%;
}
.grandezza2{
    width: 35%;
}
.text{
    text-align: center;
}
.top{
    padding-top: 20px;
}
.background{
    background-image: url('/img/footer-bg.jpg');
    background-size: cover;
}
.between{
    justify-content: space-between;
}
.grandezza3{
    width: 85%;
}
.no-repat{
    background-repeat: no-repeat;
}
.wrap{
    flex-wrap: wrap;
}
.img{
    max-width: 70%;
}
.color2{
    color: white;
}
.gap3{
    gap: 30px;
}
.col2{
    width: 13%;
}
.pad{
    padding: 70px;
}